.header-background {
  overflow: hidden;
}

.header-inner-container {
  padding: 1vh;
  margin-right: 2vh;
}

.location-fab-container {
  padding-right: 6px;
}

.contact-fab-container {
  padding-right: 6px;
}
